@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Share:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
    --orange-font-color: #F5B06F;
    --dark-orange-font-color: #FF6B00;
    --white-font-color: #ffff;
    --blue-font-color: #AEEBFB;
  }
body {
    overflow-x: scroll;
    overflow-y: scroll;
}
p {
    font-size: 1.2em;
}
h2 {
    font-size: 2em;
    letter-spacing: 1px;
}
.TitleText {
    position: relative;
    background: linear-gradient(180deg, #090029 0%, #130045 44.98%, #050F7E 100%);
    height: 100svh;
    height: 100dvh;
    height: 100vh;
}
.TitleText .introText {
    position: relative;
    text-align: center;
    padding-top: 3.5em;
    font-size: 1.2em;
    letter-spacing: 3px;
}
.TitleText .introText p {
    color: var(--orange-font-color);
    text-transform: uppercase;
}
.TitleText .introText .sparks {
    position: absolute;
    max-width: 100%;
}
.TitleText .introText #sparkRight {
    top: 1em;
    margin-left: 14em;
}
.TitleText .introText #sparkLeft {
    top: 3em;
    margin-left: -20em;
}
.TitleText .scrollToStart {
    color: var(--dark-orange-font-color);
    text-transform: uppercase;
    position: absolute;
    bottom: -100px;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    letter-spacing: 3px;
}
.TitleText2 {
    position: relative;
    background: linear-gradient(180deg, #090029 0%, #130045 44.98%, #050F7E 100%);
    height: 40svh;
    height: 40dvh;
    height: 40vh;
}
.TitleText2 .introText {
    position: relative;
    text-align: center;
    padding-top: 3.5em;
    font-size: 1.2em;
    letter-spacing: 3px;
}
.TitleText2 .introText p {
    color: var(--orange-font-color);
    text-transform: uppercase;
}
.TitleText2 .introText .sparks {
    position: absolute;
    max-width: 100%;
}
.TitleText2 .introText #sparkRight {
    top: 1em;
    margin-left: 14em;
}
.TitleText2 .introText #sparkLeft {
    top: 3em;
    margin-left: -20em;
}
ul {
    padding-left: 20px;
  }
.hdi-description{
    color: var(--orange-font-color);
    position: relative;
    text-align: left;
    padding-top: 3.5em;
    padding-left: 20px;
    font-size: 1.2em;
    letter-spacing: 3px;
}
.hdi-description p {
    text-transform: uppercase; 
}
.axis-label {
    font-size: 12px;
    font-weight: bold;
}
.chart-title {
    text-align: center;
    margin: 20px 0;
}

.chart-title h2 {
    font-size: 24px;
    font-weight: bold;
}
/* Legend container initially hidden */
.legend-container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 2px solid #333; /* Stronger border */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    z-index: 1000;
}

/* Legend container visible */
.legend-container.visible {
    opacity: 1;
}

/* Caption container initially hidden */
.caption-container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: fixed;
    top: 1800px;
    right: 20px;
    background-color: #fff;
    border: 2px solid #333; /* Stronger border */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    z-index: 1000;
}

/* caption container visible */
.caption-container.visible {
    opacity: 1;
}

/* Legend container for other html pages */
.legend-container2 {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 2px solid #333; /* Stronger border */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    z-index: 1000;
}

/* Upper-right fixed box */
.upper-right-box {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white; /* Adjust as needed */
    border: 2px solid #333; /* Stronger border */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    z-index: 1000;
}

.upper-right-box.visible {
    opacity: 1;
}

.upper-right-box a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

.upper-right-box a:hover {
    text-decoration: underline;
}

/* Upper-right fixed box on other pages */
.upper-right-box2 {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white; /* Adjust as needed */
    border: 2px solid #333; /* Stronger border */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    z-index: 1000;
}

.upper-right-box2 a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

.upper-right-box2 a:hover {
    text-decoration: underline;
}

/* Tooltip styles */
.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    pointer-events: none; /* Prevent interaction with tooltip */
    z-index: 1000;
    white-space: nowrap;
}

.tooltip.visible {
    opacity: 1; /* Fade in effect */
}
