@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Share:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
    --orange-font-color: #F5B06F;
    --dark-orange-font-color: #FF6B00;
    --white-font-color: #ffff;
    --blue-font-color: #AEEBFB;
  }
body {
    font-family: 'Share', cursive;
    overflow-x: scroll;
    overflow-y: scroll;
}
p {
    font-size: 1.2em;
}
h2 {
    font-size: 2em;
    letter-spacing: 1px;
}
.TitleText {
    position: relative;
    background: linear-gradient(180deg, #090029 0%, #130045 44.98%, #050F7E 100%);
    height: 30svh;
    height: 30dvh;
    height: 30vh;
}
.TitleText .introText {
    position: relative;
    text-align: center;
    padding-top: 3.5em;
    font-size: 1.2em;
    letter-spacing: 3px;
}
.TitleText .introText p {
    color: var(--orange-font-color);
    text-transform: uppercase;
}
.TitleText .introText .sparks {
    position: absolute;
    max-width: 100%;
}
.TitleText .introText #sparkRight {
    top: 1em;
    margin-left: 4em;
}
.TitleText .introText #sparkLeft {
    top: 3em;
    margin-left: -10em;
}
.hdi-description{
    position: relative;
    text-align: left;
    padding-top: 3.5em;
    padding-left: 20px;
    font-size: 1.2em;
    letter-spacing: 3px;
}
.hdi-description p {
    text-transform: uppercase; 
}
.axis-label {
    font-size: 12px;
    font-weight: bold;
}
.chart-title {
    text-align: center;
    margin: 20px 0;
}

.chart-title h2 {
    font-size: 24px;
    font-weight: bold;
}
/* Legend container initially hidden */
.legend-container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 2px solid #333; /* Stronger border */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    z-index: 1000;
}

/* Legend container visible */
.legend-container.visible {
    opacity: 1;
}
/* Upper-right fixed box */
.upper-right-box {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white; /* Adjust as needed */
    border: 2px solid #333; /* Stronger border */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    z-index: 1000;
}

.upper-right-box.visible {
    opacity: 1;
}

.upper-right-box a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

.upper-right-box a:hover {
    text-decoration: underline;
}

/* Tooltip styles */
.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    pointer-events: none; /* Prevent interaction with tooltip */
    z-index: 1000;
    white-space: nowrap;
}

.tooltip.visible {
    opacity: 1; /* Fade in effect */
}








.earthAndRocket {
    position: absolute;
    text-align: center;
    background-image: url(/src/img/earth.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: 25em;
    bottom: 0;
    height: 310px;
    width: 100%;
}
.earthAndRocket #earth {
    max-width: 100%;
    padding-top: 20px;
}
.earthAndRocket #rocket {
    position: absolute;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45%;
}
.scrollToStart {
    color: var(--dark-orange-font-color);
    text-transform: uppercase;
    position: absolute;
    bottom: 120px;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    letter-spacing: 3px;
}
.arInfo {
    margin-top: 50px;
}
.arInfo .whatIsAR {
    margin: 0 20px;
}
.arInfo h2 {
    color: #5C04D7;
    font-weight: 400;
    margin: 10px 0;
}
.arInfo h2 span {
    font-size: 1.2em;
}
.howDoesItWork {
    position: relative;
    /* margin-top: 120px; */
    /* margin-bottom: 300px; */
    display: flex;
    align-items: center;
    height: 27rem;
    padding-left: 20px;
    margin-top: 100px
}
.howDoesItWork .title{
    padding-top: 50px;
}
/* .howDoesItWork > * {
    flex: 1;
} */
.howDoesItWork span {
    text-transform: uppercase;
}
.arVideoContainer {
    position: absolute;
    right: 0;
    z-index: 1;
}
.howDoesItWork #arVideoFrame {
    /* overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 30rem;
    width: 70%; */
    position: relative;
    max-width: 100%;
}
.arVideoContainer #arVideo {
    position: absolute;
    left: 11%;
    bottom: 3%;
    width: 58%;
    height: 38%;
    z-index: -1;
}
.overlayCloud {
    width: 100%;
    margin-top: -5px;
}
.experiences {
    background: url("src/img/experiences-bg.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    color: var(--white-font-color);
    padding-bottom: 40px;
}
.experiences .checkout {
    padding-left: 20px;
}
.experiences .checkout h2 {
    color: var(--blue-font-color);
}
.experiences .checkout h2 span {
    text-transform: uppercase;
}
.chooseExperience {
    margin-top: 50px;
    padding: 0 20px;
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
}
.chooseExperience h2 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.chooseExperience p {
    color: white;
    padding-bottom: 25px;
}
.chooseExperience .exp {
    margin-top: 50px;
    padding: 0 20px;
}
.chooseExperience div a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
}
.exp1, .exp2, .exp3, .exp4, .exp5 {
    height: 24em;
    width: 10em;
    border-radius: 13px;
}
.chooseExperience .expImg {
    margin-top: -30px;
}
.chooseExperience .exp4 .expImg {
    margin-top: -50px;
}
.chooseExperience .exp1 {
    background: linear-gradient(180deg, #0BEEFF 0%, rgba(11, 238, 255, 0.03) 100%);
}
.chooseExperience .exp1 a {
    background: #90E6EE;
    border: 1px solid #0BDDF1;
    border-radius: 3px;
}
.chooseExperience .exp2 {
    background: linear-gradient(180deg, #0BFFC4 0%, rgba(11, 255, 196, 0.03) 100%);
}
.chooseExperience .exp2 a {
    background: #7FF0CA;
    border: 1px solid #079E6B;
    border-radius: 3px;
}
.chooseExperience .exp3 {
    background: linear-gradient(180deg, #CF4D8E 0%, rgba(207, 77, 142, 0.03) 100%);
}
.chooseExperience .exp3 a {
    background: #FC9FBC;
    border: 1px solid #CF4D8E;
    border-radius: 3px;
}
.chooseExperience .exp4 {
    background: linear-gradient(180deg, #FA7167 0%, rgba(250, 113, 103, 0.03) 100%);
}
.chooseExperience .exp4 a {
    background: #FB8E6D;
    border: 1px solid #F36F65;
    border-radius: 3px;
}
.chooseExperience .exp5 {
    background: linear-gradient(180deg, #5C04D7 0%, rgba(92, 4, 215, 0.03) 100%);
}
.chooseExperience .exp5 a {
    background: #C8B8F6;
    border: 1px solid #210943;
    border-radius: 3px;
}
.dataCollected {
    background: rgba(14, 9, 53, 0.66);
    border-radius: 13px;
    border-image-source: url('src/img/dataCollected-bg.png');
  border-image-slice: 60 30;
    /* background: url('src/img/dataCollected-bg.png');
    background-size: cover;
    background-repeat: no-repeat; */
    margin: 20px;
    margin-top: 60px;
    padding: 20px;
    /* border-image: radial-gradient(#0BE1F5 0%, #0CE7B8 18.23%, #A63D80 42.71%, #E76A61 71.88%, #5408BF 98.96%), linear-gradient(0deg, rgba(14, 9, 53, 0.66), rgba(14, 9, 53, 0.66)); */
    /* border-style: solid;
    border-width: 5px;
    border-image: radial-gradient(#0BE1F5 1%, #0CE7B8 8%, #A63D80 19%, #E76A61 30%, #5408BF 42%) 1; */

}
.dataCollected h3 {
    text-transform: uppercase;
    color: var(--white-font-color);
    letter-spacing: 1px;
}
.dataCollected .progressBarContainer {
    position: relative;
    width: 100%;
}
.dataCollected #progressBar {
    height: 15px;
    width: 100%;
    border-radius: 13px;
    background: rgba(255, 255, 255, 0.58);
    margin: 10px 0;
}
.dataCollected #progress {
    position: absolute;
    height: 15px;
    width: 62%;
    border-radius: 13px;
    background: linear-gradient(90deg, #0BEAFC 0%, #0BF8C0 18.73%, #C84B8A 39.74%, #F36D5E 60.74%, #5706C8 75.5%, rgba(87, 6, 200, 0.08) 101.05%);
    margin: 10px 0;
    top: 0;
}
.dataCollected .dataProgress, .dataCollected .badgesContainer {
    display: flex;
    align-items: center;
}
.dataProgress #percentage {
    padding: 0 10px;
}
.dataCollected .badgesContainer .badges {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}
.dataCollected .badgesContainer #collected {
    padding: 0 10px;
}
.complete {
    text-align: center;
    padding-top: 15px;
}
.lastPart {
    background: url(src/img/last-bg.png);
    background-size: cover;
    background-position: center;
    color: var(--white-font-color);
}
.lastPart .lastPartContainer {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.53) 74.48%, rgba(0, 0, 0, 0.92) 100%);
    padding: 20px;
}
.lastPart h2 {
    text-transform: uppercase;
    padding: 20px 0;
}
.lastPart p {
    line-height: 1.2em;
}
.asteroid {
    position: relative;
    text-align: center;
}
.asteroid #spacecraftImg {
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: 80px;
    animation: float 25s ease-in-out infinite;
}
.logos {
    text-align: end;
}
@media screen and (max-width: 499px){
    /* For mobile phones */
    h2 {
        font-size: 1.2em;
    }
    p {
        font-size: 1em;
    }
    .earthAndRocket {
        background-size: 100%;
    }
    .earthAndRocket #rocket {
        width: 100%;
    }
    .arInfo .howDoesItWork #arVideoFrame {
        width: 100%;
    }
    .complete p {
        font-size: 0.7em;
    }
    .howDoesItWork {
        margin-top: 30px;
        align-items: unset;
    }
}
    

@keyframes float {
	0% {
		transform: translatey(0px) translateZ(0px);
	}
    20% {
        transform: translateX(-61px) translateY(81px) rotate(39deg) scale(1.2);
    }
    50% {
        transform: translatex(-233px) translatey(22px) rotate(116deg) scale(1);
    }
    70% {
        transform: translatex(-249px) translatey(-96px) rotate(170deg) scale(0.7);
    }
	100% {
		transform: translatey(0px) translateZ(0px);
	}
}

